body {
    background-image: url(flappybirdachtergrond.png);
}
.leader{
    text-align: center;
    background-color:red;
    border-radius: 25px;
    
}
h1{
    text-align: center;
}
ul{
  padding: 0px;
  border: solid 2px black;
  background-color: red;
  border-radius: 20px 20px 20px 20px;
  position: fixed;
  top: 100px;
}
ul li{
  padding:10px;
}